:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.nav {
  background-color: white;
  color: #006747;

  padding: 1rem;
  border-bottom: 1px solid lightgrey;
}

.card {
  padding: 2em;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}